{% load i18n %}
{% autoescape off %}
{% blocktranslate %}You have received an email to reset your account password.{% endblocktranslate %}
{% translate " " %}
{% translate "Enter the following information in the password recovery form" %}
{% translate " " %}
{% translate "Code: " %} {{token}}
{% translate " " %}
{% translate "Id:" %} {{uid}}

{% translate "Please access the following link and establish a new password by completing the information in case you wish to access the website." %}
{% block reset_link %}
{{link}}?token={{token}}&uid={{uid}}
{% endblock %}
{% translate 'Your username, in case you have forgotten it:' %} {{ user.get_username }}

{% translate "Thank you for using our site" %}

{% blocktranslate %}The support team always at your disposal{% endblocktranslate %}

{% endautoescape %}
